* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;

}

body {
    background-color: rgb(3, 1, 8);

    height: 100vh;

}

.cajalogo {
    width: 60%;
    height: 60%;
    object-fit: cover;
}

.cajalogo2 {
    width: 10%;
    height: 10%;

}

.navbar {
    color: aliceblue;
    background-color: transparent;
}


a li {
    text-decoration: none;
    color: antiquewhite;
}

.icon-list {
    display: flex;
    justify-content: center;
    gap: 10px;
    color: rgb(153, 147, 136);

}

.titulo-base {
    text-align: center;
    font-size: 13px;
}

footer {
    display: flex;
    max-width: auto;
    justify-content: center;
    flex-direction: column;
    min-height: 30vh;

    /* background-color: rgb(0, 0, 0); */
}

section {
    padding: 3rem;
    margin: 3rem 2rem 3rem 2rem;
}

.fondex {
    background-image: url("../img/fondoRetocadoFuji22.png");
    background-repeat: no-repeat;
    object-fit: cover;
    height: 100vh;

}


.player {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 300px;
    background-image: transparent;
    border-radius: 1rem;
    color: white;
    /* background-image: linear-gradient(#ffff00, orange); */
    /* box-shadow: 2px 2px 1rem black;
    max-width: 1280px; */
    min-width: 320px;


}


/* --------------controls player------------------------ */
.controls>* {
    cursor: pointer;
}

.controls {
    display: flex;
    padding: 8px;
    align-items: center;
    justify-content: start;
    gap: 3rem;
    font-size: 23px;

}

.play {
    text-decoration: none;
    color: aliceblue;
    background-color: transparent;
    border: none;
}

.stop {
    text-decoration: none;
    color: aliceblue;
    background-color: transparent;
    border: none;
}

.button {
    background-color: transparent;
    border: none;


}

.button i {
    font-size: 2rem;
    /* color: blue; */

}

.ghost {
    display: flex;
    width: 20%;
    height: 50%;
    justify-content: center;

}

.titular {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    font-size: 60px;
    letter-spacing: -2.7px;
    color: aliceblue;

}

.titularh3 {
    display: flex;
    flex-direction: column;
    font-weight: 900;
    font-size: 30px;
    letter-spacing: -4px;
}

.contenedor-uno {
    display: flex;
    gap: 1rem;
    align-items: center;
    align-content: center;
    margin-left: 7rem;


}

.portaVideos {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 3rem;
    gap: 1em;
}

/* ------------------------estilos modal---------------------- */

.ubicacion {

    border: none;
    font-size: 145px;
    color: antiquewhite;

}

.offcanvas-header {
    background-color: rgba(48, 72, 94, 0.116);
    text-transform: uppercase;
}

.offcanvas-body {
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.438);



}

.offcanvas-bottom {

    background-color: rgba(0, 0, 0, 0.116);
    color: rgb(255, 255, 255);

}

@media (max-width: 650px) {
   .contenedor-uno{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
   }


}